.mdr-code {
  .code-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    input,
    select {
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      padding-left: 12px;
      padding-right: 12px;

      &:focus {
        outline: none;
      }
    }

    input {
      flex-grow: 1;
      margin-right: 12px;
      border-radius: 4px;
      background: var(--main-bg-color);
      border: 1px solid var(--main-border-color);

      &:focus {
        border-color: var(--focus-border-color);
      }
    }

    .select-wrapper {
      padding-right: 12px;
      border: 1px solid var(--main-border-color);

      &:has(select:focus) {
        border-color: var(--focus-border-color);
      }

      &,
      select {
        border-radius: 4px;
        background: var(--main-bg-color);
      }

      select {
        padding-right: 0;
        text-transform: lowercase;
      }
    }
  }

  .code-input {
    position: relative;

    & > .code-syntax > pre,
    & > textarea {
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      position: absolute;
    }

    & > textarea,
    & > .code-syntax > pre > code {
      padding: 12px;
      font-size: 14px;
      text-wrap: wrap;
      line-height: 1.5;
      border-radius: 4px;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      font-family: var(--font-mono);
    }

    & > .code-syntax > pre {
      z-index: 10;
    }

    & > .code-syntax > pre > code {
      width: 100%;
      height: 100%;
      display: block;
    }

    & > textarea {
      resize: none;
      z-index: 20;
      color: transparent;
      background: transparent;
      caret-color: var(--main-text-color);
      border: 1px solid var(--main-border-color);

      &:focus {
        outline: none;
        border-color: var(--focus-border-color);
      }
    }
  }
}
