@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: var(--mdr-font-mono, monospace);
  --main-bg-color: var(--mdr-bg-color, white);
  --main-text-color: var(--mdr-text-color, black);
}

body {
  display: none;
}
